*,
::after,
::before {
  box-sizing: border-box; 
}

.root {
  color: #000;
  font-family: sans-serif;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  margin-left: 2%;
  border-right: solid rgba(0, 22, 22, .4);
}

a {
  text-decoration: none;
}

#navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navbar li {
  text-align: left;
  margin: 0;
  margin-left: 5px;
  padding: 10px;
  list-style: none;
  font-weight: 300;
  font-size: 20px;
  border-top: 1px solid rgba(0, 22, 22, .4);
}

header {
  margin-left: 5px;
  font-weight: 700;
  font-size: large;
}

#main-doc {
  margin-left: 320px;
}
